<div class="chat-wrapper">
  <div class="chat-header">
    <h2 class="chat-title">Choisis un streamer</h2>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Rechercher un streamer..."
      class="search-input"
    />
  </div>

  <div class="chat-container">
    <div 
      class="chat-message"
      *ngFor="let streamer of filteredStreamers()"
      (click)="goToChat(streamer)"
    >
      <div class="message-header">
        <div class="username">{{ streamer.username }}</div>
      </div>
      <div class="message-content">
        <div *ngIf="streamer.twitch_channel">
          <i class="fab fa-twitch twitch-icon"></i>
          <a [href]="'https://' + streamer.twitch_channel" target="_blank">{{ streamer.twitch_channel }}</a>
        </div>
        <div *ngIf="streamer.youtube_video_id">
          <i class="fab fa-youtube youtube-icon"></i>
          <a [href]="'https://youtube.com/watch?v=' + streamer.youtube_video_id" target="_blank">{{ streamer.youtube_username }}</a>
        </div>
        <div *ngIf="streamer.tiktok_username">
          <i class="fab fa-tiktok tiktok-icon"></i>
          <a [href]="'https://tiktok.com/@' + streamer.tiktok_username" target="_blank">{{ streamer.tiktok_username }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
